{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}) }}
{# {{ form_widget(form) }} #}
{{ form_row(form.painting_name, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
{{ form_row(form.paintingURL, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
{{ form_row(form.paintingDate, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
{{ form_row(form.painterName, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
{{ form_row(form.painterDescription, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
{{ form_row(form.smallPaintingUrl, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
{{ form_row(form.movmentKey, {'attr': {'class': 'd-flex flex-column mb-2'}}) }}
<button class="btnAdminForm mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
