{% extends 'base.html.twig' %}

{% block title %}ArtMovment index{% endblock %}

{% block body %}
    <h1>ArtMovment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ArtMovmentName</th>
                <th>ArtMovmentDate</th>
                <th>ArtMovmentDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for art_movment in art_movments %}
            <tr>
                <td>{{ art_movment.id }}</td>
                <td>{{ art_movment.artMovmentName }}</td>
                <td>{{ art_movment.artMovmentDate }}</td>
                <td>{{ art_movment.artMovmentDescription }}</td>
                <td>
                    <a href="{{ path('app_art_movment_show', {'id': art_movment.id}) }}">show</a>
                    <a href="{{ path('app_art_movment_edit', {'id': art_movment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_art_movment_new') }}">Create new</a>
{% endblock %}
